
@model Repository.Model.ShopModel.CollabCreateModel

@{
    ViewData["Title"] = "CreateCollab";
}

<h1>Create Collaborator</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCollab">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                <select class="custom-select" asp-for="GenderId">
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Other</option>
                </select>
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input type="date" asp-for="DateOfBirth" value="" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label>
                <input type="file" accept="image/png, image/jpg, image/jpeg" asp-for="Avatar"  />
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ShopId" class="control-label"></label>
                <input asp-for="ShopId" class="form-control" />
                <span asp-validation-for="ShopId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-success text-light" onclick="history.back()">Back</a>
                <input type="submit" value="Create" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
